<% content_for :page_title, "Starter Rails application" %>

<h1>Starter Rails application</h1>
<p>Find this template in <code>app/views/page/index.html.erb</code></p>

<h2>Pages</h2>
<ul>
  <li><a href="page/content">Example content page</a></li>
</ul>

<% govuk.button(text: 'Submit') %>
