<h1>Starter Rails application</h1>
<p>Find this template in <code>app/views/page/index.html.erb</code></p>

<h2>Pages</h2>
<ul>
  <li><a href="page/country-of-residence">Where do you live?</a></li>
  <li><a href="page/nationality">What is your nationality?</a></li>
  <li><a href="page/date-of-birth">What is your date of birth?</a></li>
  <li><a href="page/confirmation">Confirmation</a></li>
</ul>
